<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/images/applications-betul.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <title></title>
    <link
      rel="icon"
      type="image/png"
      href="https://coderszine.com/wp-content/themes/v2/cz.png"
    />
    <link rel="stylesheet" href="/images/applications-betul.css" />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <nav>
      <ul>
        <li>
          <span
            ><p class="dashboard_link">
              <a href="/home/dashboard">Dashboard</a>
            </p></span
          >
        </li>
        <li>
          <span
            ><p class="profile_link">
              <a href="/home/profile">My Profile</a>
            </p></span
          >
        </li>
        <li><a href="/home/jobs">My Jobs</a></li>
        <li><a href="/home/applications">My Applications</a></li>
      </ul>
    </nav>
  </head>

  <body>
    <div class="bottom_nav_card_main">
      <p class="bottom_nav_card_text_main">Follow us on social media:</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <p class="bottom_nav_card_text2_main">Copyright © 2023 WebSiteName</p>
    </div>
  </body>
</html>
