<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="/images/create_jobs.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <title></title>
  <link rel="icon" type="image/png" href="https://coderszine.com/wp-content/themes/v2/cz.png" />
  <link rel="stylesheet" href="/images/create_jobs.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- <nav>
    <ul>
      <li>
        <span>
          <p class="dashboard_link">
            <a href="/home/dashboard">Dashboard</a>
          </p>
        </span>
      </li>
      <li>
        <span>
          <p class="profile_link">
            <a href="/home/profile">My Profile</a>
          </p>
        </span>
      </li>
      <li><a href="/jobs">My Jobs</a></li>
      <li><a href="/home/applications">My Applications</a></li>
    </ul>
  </nav> -->
</head>

<body>


  <header>

    <nav class="nav-bar">
        <div class="nav-bar-links">
            <!-- <button data-text="Awesome" class="title_button">
                <span class="actual-text">HIVELANCE
                    <span class="hover-text" aria-hidden="true">HIVELANCE </span>
            </button> -->

            <div class="nav-links">
                <nav>
                    <ul>
                        <li><span>
                                <p class="dashboard_link">
                                    <a href="/home/dashboard">Dashboard</a>
                                </p>
                            </span></li>
                        <li>
                            <span>
                                <p class="profile_link">
                                    <a href="/home/profile">My Profile</a>
                                </p>
                            </span>
                        </li>
                        <li><span>
                                <p class="jobs_link">
                                    <a href="/home/jobs">My Jobs</a>
                                </p>
                            </span></li>
                        <li><span>
                                <p class="jobs_link">
                                    <a href="/home/applications">My Applications</a>
                                </p>
                            </span></li>
                    </ul>
                </nav>
            </div>
        </div>

        
    </nav>
</header>
  <form action="/home/create_jobs_inSQL" method="POST" >
    <div class="card_create_job">
      <p class="title">The Title of your Job</p>
      <input placeholder="Enter text here" name="Title" class="input-style" type="text" />
      <p class="detail">A Detailed Description</p>
      <input placeholder="Enter text here" name="Description" class="input-style" type="text" />
      <p class="requirements">Candidate Requirements</p>
      <input placeholder="Enter text here" name="requirements" class="input-style" type="text" />
      <p class="date">Last Applicateion Date</p>
      <input placeholder="Enter text here" name="last_date" class="input-style" type="datetime-local" />
      <div>
        <p class="candidate_status">Candidate Status</p>
        <div class="radio-input">
          <input type="radio" name="candidate_status" id="Beginner" name="value-radio" value="value-1" />
          <label for="value-1">Beginner</label>
          <input type="radio" name="candidate_status" id="Intermediate" name="value-radio" value="value-2" />
          <label for="value-2">Intermediate</label>
          <input type="radio" name="candidate_status" id="Advance" name="value-radio" value="value-3" />
          <label for="value-3">Advance</label>
        </div>
      </div>

      <p class="contact_info">Contact Info of the Employer</p>
      <input placeholder="Enter your email" name="contact_info" class="input-style" type="email" />
    </div>
    <button class="save-btn" type="submit"> Create </button>
  </form>
  <div class="bottom_nav_card_main">
    <p class="bottom_nav_card_text_main">Follow us on social media:</p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <p class="bottom_nav_card_text2_main">Copyright © 2023 WebSiteName</p>
  </div>
</body>

</html>