<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Roboto+Slab:wght@200;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/images/howitworks.css">
    <link rel="stylesheet" href="/images/howitworksqueries.css">
    <title>How it works? </title>
</head>



<body>

    <header>
        <nav class="nav-bar">
            <div class="nav-links">
                <ul class="nav-links-ul">
                    <li><a class="nav-item" href="/dashboard.html">Dashboard</a></li>
                    <li><a class="nav-item" href="/profile">My Profile</a></li>
                    <li><a class="nav-item" href="/jobs">My Jobs</a></li>
                    <li><a class="nav-item" href="/applications">My Applications</a></li>
                </ul>
            </div>
        </nav>
    </header>



    <section class="welcome-container">

        <div class="welcome-left">

            <div class="welcome-text">
                <h1>Welcome,</h1>
                <h2> Let's find a job for you!</h2>
            </div>
            <button class="btn-sign-in"><a href="/login">Sign in</a></button>
        </div>

        <div class="welcome-right">
            <img class="welcome-img" src="img/welcome.svg" alt="">
        </div>

    </section>
    <h1 class="details-header"> Before we start, Let's have a quick look!</h1>

    <article class="details-container">


        <div class="employee-details">
            <h1 class="emp-h1">Employee</h1>
            <ul class="details-ul-employee">
                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/guest-male.png" alt="person" />
                    <p class="li-label">Create an account</p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/search--v1.png" alt="search--v1" />
                    <p class="li-label">Search for a job</p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/choose.png" alt="choose" />
                    <p class="li-label">Choose best job for you</p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/checked--v1.png" alt="checked--v1" />
                    <p class="li-label">Complete tasks</p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/like--v1.png" alt="like--v1" />
                    <p class="li-label">It's the best way to make money online</p>
                </li>
            </ul>

        </div>

        <div class="employer-details">
            <h1 class="emp-h1">Employer</h1>
            <ul class="details-ul-employer">
                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/guest-male.png" alt="person" />
                    <p class="li-label">Create an account</p>
                </li>

                <li class="details"><img  class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/add--v1.png" alt="add--v1" />
                    <p class="li-label">Create a job </p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/choose.png" alt="choose" />
                    <p class="li-label">Choose one of the employees</p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/checked--v1.png" alt="checked--v1" />
                    <p class="li-label">Completed your works quickly</p>
                </li>

                <li class="details"><img class="details-icon"
                        src="https://img.icons8.com/fluency-systems-regular/48/like--v1.png" alt="like--v1" />
                    <p class="li-label">It's the best way to get your works done</p>
                </li>
            </ul>
        </div>
    </article>

    <section class="teslimonials-section">
        <h1 class="testimonials-header">
            What does our customers think about us? </h1>

        <div class="testimonials-container">

            <div class="panel active" id="panel-active">
                <h3 class="panel-header">Productivity</h3>
                <h3>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, similique temporibus, blanditiis,
                    quidem atque earum quasi corporis reprehenderit ut libero placeat totam sed. Nostrum quia ea
                    cupiditate dolores repudiandae atque!"</h3>
            </div>
            <div class="panel">
                <h3>Coding</h3>
                <h3>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, similique temporibus, blanditiis,
                    quidem atque earum quasi corporis reprehenderit ut libero placeat totam sed. Nostrum quia ea
                    cupiditate dolores repudiandae atque!"</h3>
            </div>
            <div class="panel">
                <h3>Programming</h3>
                <h3>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, similique temporibus, blanditiis,
                    quidem atque earum quasi corporis reprehenderit ut libero placeat totam sed. Nostrum quia ea
                    cupiditate dolores repudiandae atque!"</h3>
            </div>
            <div class="panel">
                <h3>Virtual Reality</h3>
                <h3>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, similique temporibus, blanditiis,
                    quidem atque earum quasi corporis reprehenderit ut libero placeat totam sed. Nostrum quia ea
                    cupiditate dolores repudiandae atque!"</h3>
            </div>
            <div class="panel">
                <h3>Artificial Intelligence</h3>
                <h3>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, similique temporibus, blanditiis,
                    quidem atque earum quasi corporis reprehenderit ut libero placeat totam sed. Nostrum quia ea
                    cupiditate dolores repudiandae atque!"</h3>
            </div>
        </div>

    </section>

    <footer>


    </footer>

    <script>
        const panels = document.querySelectorAll(".panel");

        panels.forEach((panel) => {
            panel.addEventListener("click", () => {
                removeActiveClasses();
                panel.classList.add("active");
            });
        });

        function removeActiveClasses() {
            panels.forEach((panel) => {
                panel.classList.remove("active");
            });
        }

    </script>
</body>

</html>